/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
/backend/*.db
/backend/storage
/backend/uploads
**/__pycache__
**/.pytest_cache
*.pyc
